body,h3,h1,p,div,nav,h1,ul,li,dl,dd,dt,span,a,p,input,from{
	
	  margin: 0;  
  padding: 0;  
  border: 0;  
 
}
body{
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
a{
	text-decoration: none;
	margin:0;
	padding: 0;
	color: black;
	
}
li.clear_last_box{
	margin-right:0;
	border-right: none;
}
dl,dd,dt,ul,li{
	list-style: none;
}

 h3{
	display:inline-block;
	color: #b0b0b0;
	font-size:14px;
	font-weight:400;
	
}
.clearfix:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
	clear: both;
	zoom:1;
}
.section{
	margin:20px 0;
}

.top_nav{
	
	height: 38px;
	background: #333333;
	
	
}

.top_nav a{
	color:#b0b0b0;
}
.top_right{

	height: 38px;
	line-height: 38px;

	float: right;
}
.top_r_item{
	float: left;
}
/*nav的左边*/
.top_left{
	width: 500px;
	height: 38px;
	line-height: 38px;
	
	float: left;
}
.top_l_item{
	float: left;

}
.w{
	width: 1226px;
	margin: 0 auto;
}
/*主版面*/
 .logo{
	width: 100px;
	height: 56px;
	margin-right:100px;
	float: left;
	overflow:hidden;
	position:relative;
}
.logo p{
	text-indent:-9999px;
}
.logo_child{
	position:absolute;
	
}
	


.hotwordsWrap{
	width:620px;
	margin:0 auto;
	overflow:hidden;
	
	
}
.hotwords a{
	color:#333333;
	font-size:14px;
}
.hotwords{
	float:left;
	margin: 0  10px;
	line-height:56px;
	
}
.section_nav{
	
	float: left;
	
	height: 56px;
}

.seach{
	float: right;
	position:relative;
	height: 48px;
	width: 294px;
	border:1px solid gray;
}

.seach_text{
	border-right:1px solid gray;
	height:100%;
	
	width:240px;
	
}
.seach_ab{
	position:absolute;
	top:14px;
	left:90px;
	
}

	

h2.star_title{
	font-size:22px;
	font-weight:200;
	
	
}
.seach_centact{
	height:18px;
	line-height:18px;
	background:#eeeeee;
	margin-left:5px;
	font-size:12px;
}
.main_item{
	font-size:14px;
	height:42px;
	line-height:42px;
	padding-left:30px;

}
.main_item a{
	color:#fff;
	
}
.itme1{
	border-top:1px solid #ffac13;
}
.itme2{
	border-top:1px solid #83c44e;
}
.itme3{
	border-top:1px solid #2196f3;
}
.itme4{
	border-top:1px solid #e53935;
}

	

.GoodsBox{
	text-align:center;
	padding-top:26px;
	
	
}

.staritem{
	width:234px;
	height:300px;
	background:#fafafa;
	float:left;
	margin-right:14px;
	margin-bottom:14px;
}
/*show*/
.showItem{float:left;}
.showItem img{
	width:316px;
	height:170px;
	margin-left:14px;
}
.show_produce{
	position: absolute;
	
	width: 990px;
	height: 170px;
	left: 235px;
}
.servarv{
	position:absolute;
	
	width: 235px;
	height: 170px;

}
.servarv_item:after{
	width:1px ;
	background:#665e57;
	height:70px;
	position:absolute;
	content:"";
}
.servarv_item_wrap{
	padding:0 12px;
}
.servarv_item{
	float:left;
	position:relative;
	
	width:70px;
	height:82px;
	text-align:center;
}
.show{
	position: relative;
	
	height: 170px;

}
/*star*/
.star_last{
	
	border-top:1px solid #00c0a5;
}
.GoodsBox img{
	width:160px;
	height:160px;
}
/*主要宣传，滚动图*/

.main{
	
	height: 458px;
	position: relative;
	margin-bottom: 20px;
	
}
 @font-face {font-family: 'iconfont';    src: url('iconfont.eot'); /* IE9*/    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */    url('iconfont.woff') format('woff'), /* chrome、firefox */    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */ } .facefont{font-family:"iconfont"; font-style:normal; font-size:16px;}
ul,li{
		list-style: none;
}

.play{
	width: 1226px;
	margin: 0 auto;
	height: 460px;
	position: relative;
	overflow: hidden;


}
/*小圆点*/
.play ul{
	width: 150px;
	position: absolute;
	bottom: 20px;
	right: 0;
	height: 10px;

}
.play li{
	width: 8px;
	height: 8px;
	border-radius: 100%;
	border:2px solid #b6ac98;
	text-align: center;
	float: left;
	margin-right: 10px;
	background: #96876c;

}
/*.play li:hover{
	background:#fff;
}*/
.play li.active{

	background:rgba(255,255,255,0.8);
}
/*箭头*/
.iconfont{
	font-family:iconfont;
	font-size: 30px;
	width: 50px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	color:rgba(0,0,0,0.3);
}

	
	
.left{
	
	
	left:200px;
	
}
.left,.right{
	position: absolute;
	top:50%;
	trasform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
}
.left:hover,.right:hover{
	background:rgba(0,0,0,0.5);
	color: white;
}

.right{
	font-weight:700;
	
	right:0;
	
}
.main_nav{
	width: 200px;
	padding:20px 0 ; 
	
	position: absolute;
	z-index: 2;
	background: red;
	
	
}


.star{
	margin:35px 0;
	position: relative;
	
}
.star_btn{
	width: 69px;
	height: 22px;
	border:1px solid #e0e0e0;
	position: absolute;
	right: 0;
	top: 0;
}
.goods{
	padding:55px 0;
	background: #f5f5f5;
	

}
.brick_img{
	float: left;
	
	
	
}

.brick{
	
}
.goods_item{
	float: right;
	
	
	
}
ul.brick_list{
	width:980px;
}
.brick{
	position: relative;
}
ul.brick_list .staritem{
	background:#fff;
}

.goods_btn{
	position: absolute;
	font-size:16px;
	height: 30px;
	line-height:16px;
	right: 0px;
	top: 0px;
	

}
li.btn_item{
	float:left;
	padding-bottom:5px;
	margin:0 16px;
}
/*为你推荐*/
.recommend {
position: relative;}
.recommend .staritem{
	background:#fff;
	
}
/*热评*/
.review_box{
	
	
	background-color: #fff;
	margin-right:14px;
}
.hotReview_info{
	padding:26px 30px;
}

.author{
	font-size:12px;
	color:#b0b0b0;
	margin-top:24px;
	
}
/*尾部布局*/

.Layout_box{
	float:left;
	width:24%;
	height:400px;
	background: #fff;
	margin-right: 14px;
}
/*视频*/
.video{
	position:relative;
}
.video_recommend{
	position:absolute;
	top:0;
	right:0;
}
.video_box{
	height: 284px;
}
.video-info {
  text-align: center;
  margin: 24px 0 30px 0;
}
.video-info a {
  line-height: 26px;
  line-size: 13px;
  color: #000;
}
.video-info a:hover {
  color: #ff802a;
}
.video-info p {
  color: #b0b0b0;
  font-size: 12px;
  line-size: 24px;
}

/*footer*/

footer{
	background: #fff;
}
.footer_nav{
	width: 100%;
	
	
	margin-top: 30px;
	border-bottom:1px solid #e0e0e0;
	
}
.footer_nav ul{
	padding: 26px 0;
}

.footer_top_nav{
	float:left;
	font-size: 16px;
	line-height: 26px;
	height: 26px;
	padding: 0px 58px;
	border-right: 1px solid #e0e0e0;
}
.footer_top_nav a{
	color: #616161;
}

.footer_top_nav a:hover{
	color: #ff6700;
}

.footer_list{
	padding: 40px 0;
	width: 100%;
}
.contact_info{
	padding: 0 60px;
	border-left: 1px solid #e0e0e0;
}
.list_item{
	
	
	float: left;
	margin-right: 102px;
}

.list_wrap{
	float: left;
}
.contact{
	
	float: right;

}

.contact_phone{
	font-size: 22px;
	color: #ff6700;
}
p.contact_work{
	line-height: 18px;
	margin-bottom: 16px;
}
p.contact_online{
	border:1px solid #ff6700;
	text-align: center;
	height: 30px;
	line-height: 30px;

}
p.contact_online a{
	color: #ff6700;

}
input.next{
	width:50%;
	height:100%;
	float:left;
}
input.prev{
	width:50%;
	height:100%;
	border-right:1px solid #e0e0e0;
	float:left;
}
.info_text{
	
	float: left;
	margin-left: 6px;
	
}
.info_text a:hover{
	color: #ff6700;
}
.info_lins a{
	color: #757575;
}
.info_text p{
	line-height: 18px;

}
.sites{
	color: #b0b0b6;
}
.sites a{
	color: #b0b0b6;
}

.lins_item{
	float: left;

}
.sep{
color: #424242;
margin: 0 0.25em;
}
.links_pic{
	float: right;
	
	
}
.footer_logo{
	float: left;
}
.mi_title{
	line-height: 40px;
	font-size: 28px;
	margin: 0 auto;
	width: 270px;
}
.pic_item{
	width: 84px;
	height: 28px;
}
.footer_logo{

}
.footer_links{
	
	font-size: 12px;

}
.links_pic{
	float: right;
}
/*热评产品*/

  

.review_box .author_review a {
  line-height: 24px;
  font-size: 12px;
  height: 72px;
  display: inline-block;
  overflow: hidden;
}
.review_box .hotReview_info {
  overflow: hidden;
}
.review_box .author_review {
  line-height: 24px;
  font-size: 12px;
  height: 72px;
  margin-bottom: 18PX;
}
.author {
  color: #333;
  
}
.price {
  color: #333;
  line-height: 30px;
}
.price span {
  color: #ff6700;
  border-left: 1px solid #e0e0e0;
  margin-left:11px;
  padding-left: 11px;
}

/*内容*/
.content_item1 {
  border-top: 1px solid #ffac13;
  font-size: 12px;
  text-align: center;
}
.content_item1 h3 {
  color: #ffac13;
  font-size: 15px;
  margin: 50px 0 20px 0;
}

.content_item2 {
  

border-top: 1px solid #83c44e;
  font-size: 12px;
  text-align: center;
}
.content_item2 h3 {
  color: 

#83c44e;
  font-size: 15px;
  margin: 50px 0 20px 0;
}

.content_item3 {
  border-top: 1px solid 

#e53935;
  font-size: 12px;
  text-align: center;
}
.content_item3 h3 {
  color: #e53935;
  font-size: 

15px;
  margin: 50px 0 20px 0;
}

.content_item4 {
  border-top: 1px solid #2196f3;
  font-size: 12px;
  

text-align: center;
}
.content_item4 h3 {
  color: #2196f3;
  font-size: 15px;
  margin: 50px 0 20px 

0;
}

.discript-1 .book-name {
  font-size: 18px;
  line-height: 30px;
  color: #333333;
}
.discript-1 .discript-text {
  line-height: 22px;
  height: 44px;
  color: #b7b0c1;
  margin-bottom: 6px;
  width: 192px;
  margin: 0 auto;
}
.discript-1 .book-price {
  color: #333333;
  line-height: 24px;
  margin-bottom: 16px;
}



